<!DOCTYPE html>  <!-- Declaração do tipo de documento, indicando que é um documento HTML5 -->
<html lang="pt-br">  <!-- Define o idioma do conteúdo como português do Brasil -->
<head>
    <meta charset="UTF-8">  <!-- Define a codificação de caracteres como UTF-8 -->
    <title>Meu blog</title>  <!-- Título da página que aparece na aba do navegador -->
    <link rel="stylesheet" href="../static/css/styles.css">  <!-- Link para o arquivo CSS para estilizar a página -->
</head>
<body>
<div class="wrapper">  <!-- Container principal para envolver todo o conteúdo -->
    <div class="top">  <!-- Seção superior da página -->
        <div class="title"><h1>Meu Blog</h1></div>  <!-- Título principal do blog -->
    </div>
    <div class="content">  <!-- Seção principal que contém o conteúdo do post -->
        <div class="card">  <!-- Container para o post, estilizado como um cartão -->
            <h1> {{ post.title }}</h1>  <!-- Exibe o título do post (substituído pelo conteúdo dinâmico do Flask) -->
            <h2> {{ post.subtitle }}</h2>  <!-- Exibe o subtítulo do post (também dinâmico) -->
            <p> {{ post.body }}</p>  <!-- Exibe o corpo do post (conteúdo principal, dinâmico) -->
        </div>
    </div>
</div>
</body>
<footer>
    <p>Feito com ♥️ no Brasil.</p>  <!-- Mensagem de rodapé -->
</footer>
</html>
