{% extends "base.html" %}  <!-- Indica que este template herda de base.html -->

{% from 'bootstrap5/form.html' import render_form %}  <!-- Importa a função render_form do template de formulários do Bootstrap -->

{% block title %}Login{% endblock %}  <!-- Define o título da página como "Login" -->

{% block content %}  <!-- Início do bloco de conteúdo que será preenchido nesta página -->
    <div class="container">  <!-- Div com a classe "container" para centralizar o conteúdo -->
        <h1>Login</h1>  <!-- Cabeçalho principal da seção -->
        {{ render_form(form) }}  <!-- Renderiza o formulário usando a função importada, aplicando os estilos do Bootstrap -->
    </div>
{% endblock %}  <!-- Fim do bloco de conteúdo -->
