{% extends "base.html" %}  <!-- Indica que este template herda de base.html -->

{% block title %}Acesso Negado{% endblock %}  <!-- Define o título da página como "Acesso Negado" -->

{% block content %}  <!-- Início do bloco de conteúdo que será preenchido nesta página -->
	<div class="container">  <!-- Cria uma div com a classe "container" do Bootstrap para centralizar o conteúdo -->
		<h1>Acesso Negado</h1>  <!-- Cabeçalho principal informando que o acesso foi negado -->
		<iframe src="https://giphy.com/embed/1xeVd1vr43nHO" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
		<!-- Insere um GIF do Giphy que representa uma situação engraçada de "acesso negado" -->
		<p><a href="https://giphy.com/gifs/cheezburger-funny-dog-fails-1xeVd1vr43nHO">via GIPHY</a></p>
		<!-- Link para a página do GIF no Giphy -->
	</div>
{% endblock %}  <!-- Fim do bloco de conteúdo -->
