{% extends "base.html" %}  <!-- Indica que este template herda de base.html -->

{% block title %}Acesso Permitido{% endblock %}  <!-- Define o título da página como "Acesso Permitido" -->

{% block content %}  <!-- Início do bloco de conteúdo que será preenchido nesta página -->
	<div class="container">  <!-- Cria uma div com a classe "container" do Bootstrap para centralizar o conteúdo -->
		<h1>Top segredos</h1>  <!-- Cabeçalho principal informando que esta seção contém segredos -->
		<iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
		<!-- Insere um GIF do Giphy que pode ser relacionado a "top segredos" -->
		<p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>
		<!-- Link para a página do GIF no Giphy -->
	</div>
{% endblock %}  <!-- Fim do bloco de conteúdo -->
