{% include "header.html" %}

<!-- Cabeçalho da Página -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Mensagem enviada com sucesso</h1>
          {% else: %}
          <h1>Contacte-me</h1>
          {% endif %}
          <span class="subheading">Tem perguntas? Eu tenho respostas.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Conteúdo Principal -->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Quer entrar em contato? Preencha o formulário abaixo para me enviar uma mensagem e
          eu retornarei o mais rápido possível!
        </p>
        <div class="my-5">
          <!-- Formulário de Contato -->
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('contact') }}"
            method="post"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Digite seu nome..."
                required
              />
              <label for="name">Nome</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Digite seu email..."
                required
              />
              <label for="email">Endereço de email</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Digite seu número de telefone..."
                required
              />
              <label for="phone">Número de telefone</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Digite sua mensagem aqui..."
                required
                style="height: 12rem"
              ></textarea>
              <label for="message">Mensagem</label>
            </div>
            <br />
            <button
              class="btn btn-primary text-uppercase"
              id="submitButton"
              type="submit"
            >
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
