<!-- Rodapé -->
<footer class="border-top">  <!-- Divisão superior do rodapé -->
    <div class="container px-4 px-lg-5">  <!-- Contêiner com espaçamento -->
        <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Linha centralizada -->
            <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Coluna responsiva -->
                <ul class="list-inline text-center">  <!-- Lista inline, centralizada -->
                    <li class="list-inline-item">  <!-- Item da lista -->
                        <a href="#!">  <!-- Link (pode ser atualizado) -->
                            <span class="fa-stack fa-lg">  <!-- Empilhamento de ícones -->
                                <i class="fas fa-circle fa-stack-2x"></i>  <!-- Círculo de fundo -->
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>  <!-- Ícone do Twitter -->
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">  <!-- Item da lista -->
                        <a href="#!">  <!-- Link (pode ser atualizado) -->
                            <span class="fa-stack fa-lg">  <!-- Empilhamento de ícones -->
                                <i class="fas fa-circle fa-stack-2x"></i>  <!-- Círculo de fundo -->
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>  <!-- Ícone do Facebook -->
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">  <!-- Item da lista -->
                        <a href="#!">  <!-- Link (pode ser atualizado) -->
                            <span class="fa-stack fa-lg">  <!-- Empilhamento de ícones -->
                                <i class="fas fa-circle fa-stack-2x"></i>  <!-- Círculo de fundo -->
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>  <!-- Ícone do GitHub -->
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Seu Site 2024</div>  <!-- Mensagem de copyright -->
            </div>
        </div>
    </div>
</footer>

<!-- JS do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- JS do tema principal -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
