{% include "header.html" %}  <!-- Inclui o cabeçalho do site -->

<!-- Cabeçalho da Página-->
<!-- <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})"> -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">  <!-- Define a imagem de fundo do cabeçalho -->
    <div class="container position-relative px-4 px-lg-5">  <!-- Cria um contêiner com posicionamento relativo -->
        <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Cria uma linha com espaçamento e centraliza o conteúdo -->
            <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Define as colunas responsivas -->
                <div class="site-heading">  <!-- Div para o cabeçalho do site -->
                    <h1>Wellington Blog</h1>  <!-- Exibe o título do blog -->
                    <span class="subheading">Um tema de Blog para iniciar com Bootstrap</span>  <!-- Exibe o subtítulo do blog -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Conteúdo Principal-->
<div class="container px-4 px-lg-5">  <!-- Cria um contêiner para o conteúdo principal -->
    <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Cria uma linha com espaçamento e centraliza o conteúdo -->
        <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Define as colunas responsivas -->

            <!-- Prévia do Post-->
            {% for post in all_posts %}  <!-- Itera sobre todos os posts -->
            <div class="post-preview">  <!-- Div para a prévia de cada post -->
                <a href="{{ url_for('show_post', index=post.id) }}">  <!-- Link para a página do post específico -->
                    <h2 class="post-title">{{ post.title }}</h2>  <!-- Exibe o título do post -->
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>  <!-- Exibe o subtítulo do post -->
                </a>
                <p class="post-meta">  <!-- Meta informações sobre o autor e a data -->
                    Postado por:  <!-- Texto fixo -->
                    <a href="#!">{{ post.author }}</a>  <!-- Link para o autor do post -->
                    on {{ post.date }}  <!-- Exibe a data de publicação -->
                </p>
            </div>
            <!-- Divisor-->
            <hr class="my-4" />  <!-- Linha horizontal para separar os posts -->
            {% endfor %}

            <!-- Paginação-->
            <div class="d-flex justify-content-end mb-4">  <!-- Alinha a página à direita -->
                <a class="btn btn-primary text-uppercase" href="#!">Posts antigos →</a>  <!-- Botão para posts mais antigos -->
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}  <!-- Inclui o rodapé do site -->
