{% include "header.html" %}  <!-- Inclui o cabeçalho da página -->

<!-- Cabeçalho da Página-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"  <!-- Define a imagem de fundo para o cabeçalho -->
>
  <div class="container position-relative px-4 px-lg-5">  <!-- Cria um contêiner para o conteúdo -->
    <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Cria uma linha centralizada -->
      <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Define a largura da coluna em diferentes tamanhos de tela -->
        <div class="page-heading">
          <h1>Sobre Mim</h1>  <!-- Título da seção -->
          <span class="subheading">Isto é o que eu faço.</span>  <!-- Subtítulo -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Conteúdo Principal-->
<main class="mb-4">  <!-- Define o conteúdo principal da página -->
  <div class="container px-4 px-lg-5">  <!-- Cria um contêiner para o conteúdo -->
    <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Cria uma linha centralizada -->
      <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Define a largura da coluna em diferentes tamanhos de tela -->
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe  <!-- Texto fictício -->
          nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis
          sit soluta odio, adipisci quas excepturi maxime quae totam ducimus
          consectetur?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
          praesentium recusandae illo eaque architecto error, repellendus iusto
          reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in
          officia voluptas voluptatibus, minus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
          consequuntur magnam, excepturi aliquid ex itaque esse est vero natus
          quae optio aperiam soluta voluptatibus corporis atque iste neque sit
          tempora!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}  <!-- Inclui o rodapé da página -->
