<!-- Rodapé-->
<footer class="border-top">  <!-- Cria um rodapé com uma borda superior -->
    <div class="container px-4 px-lg-5">  <!-- Cria um contêiner para o conteúdo do rodapé -->
        <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Cria uma linha centralizada -->
            <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Define a largura da coluna em diferentes tamanhos de tela -->
                <ul class="list-inline text-center">  <!-- Cria uma lista de ícones de redes sociais centralizados -->
                    <li class="list-inline-item">  <!-- Item da lista para o Twitter -->
                        <a href="#!">  <!-- Link para a página do Twitter -->
                            <span class="fa-stack fa-lg">  <!-- Estilo de ícone empilhado -->
                                <i class="fas fa-circle fa-stack-2x"></i>  <!-- Círculo de fundo -->
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>  <!-- Ícone do Twitter -->
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">  <!-- Item da lista para o Facebook -->
                        <a href="#!">  <!-- Link para a página do Facebook -->
                            <span class="fa-stack fa-lg">  <!-- Estilo de ícone empilhado -->
                                <i class="fas fa-circle fa-stack-2x"></i>  <!-- Círculo de fundo -->
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>  <!-- Ícone do Facebook -->
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">  <!-- Item da lista para o GitHub -->
                        <a href="#!">  <!-- Link para a página do GitHub -->
                            <span class="fa-stack fa-lg">  <!-- Estilo de ícone empilhado -->
                                <i class="fas fa-circle fa-stack-2x"></i>  <!-- Círculo de fundo -->
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>  <!-- Ícone do GitHub -->
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Seu Website 2024</div>  <!-- Mensagem de copyright -->
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>  <!-- Script do Bootstrap -->
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>  <!-- Script do tema personalizado -->
</body>
</html>
