{% include "header.html" %}  <!-- Inclui o cabeçalho do site -->

<!-- Page Header-->
<!-- <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})"> -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">  <!-- Cabeçalho com imagem de fundo -->
    <div class="container position-relative px-4 px-lg-5">  <!-- Contêiner com espaçamento -->
        <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Linha centralizada -->
            <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Coluna responsiva -->
                <div class="site-heading">  <!-- Cabeçalho do site -->
                    <h1>Wellington Blog</h1>  <!-- Título do blog -->
                    <span class="subheading">Um tema de Blog para iniciar com Bootstrap</span>  <!-- Subtítulo do blog -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">  <!-- Contêiner para o conteúdo principal -->
    <div class="row gx-4 gx-lg-5 justify-content-center">  <!-- Linha centralizada -->
        <div class="col-md-10 col-lg-8 col-xl-7">  <!-- Coluna responsiva -->

            <!-- Post preview-->
            {% for post in all_posts %}  <!-- Início do loop para exibir cada post -->
            <div class="post-preview">  <!-- Div de visualização do post -->
                <a href="{{ url_for('show_post', index=post.id) }}">  <!-- Link para a página do post -->
                    <h2 class="post-title">{{ post.title }}</h2>  <!-- Título do post -->
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>  <!-- Subtítulo do post -->
                </a>
                <p class="post-meta">  <!-- Metadados do post -->
                    Postado por:  <!-- Texto estático -->
                    <a href="#!">{{ post.author }}</a>  <!-- Autor do post como link -->
                    on {{ post.date }}  <!-- Data de postagem -->
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />  <!-- Linha divisória -->
            {% endfor %}  <!-- Fim do loop -->

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Posts antigos →</a></div>  <!-- Botão para posts mais antigos -->
        </div>
    </div>
</div>

{% include "footer.html" %}  <!-- Inclui o rodapé do site -->
